VITE_GOOGLE_SHEETS_API_KEY=your_google_sheets_api_key
GOOGLE_SHEETS_API_KEY=your_google_sheets_api_key
VITE_GOOGLE_SHEET_ID=1MP0mzEPAxo-Z9g0lmcipxLepjap6Vu3FSCXhbzaRpSU
# VITE_API_BASE_URL=http://localhost:3000

